{% extends 'task/base.html' %}

{% block title %}
How to
{% endblock %}

{% block content %}

<body>
    <p class="how-to-heading">
        This is how you ought to use this webpage. <br>
    </p>
    <p class="how-to-text">
        TODO <br><br>
        <b>You dont need this but you came here anyway</b><br>
        1. Click in the 'blank space' to type your Todo. <br>
        2. Prerss [ENTER] or 'Create Todo' to submit your written Todo. <br>
        3. You can make a Todo 'Important', check as 'completed' and edit the Todo by clicking 'Update'. <br>
        4. you can delete a Todo by clicking in 'Delete' and comferming it. <br>
        5. RGB lovers - Enjoy the back-rgb <br>
        and
        <br>
        Click on Spotify to listen to <b>OUR</b> favourate Focus playlist
        <br>
        :)
    </p>
</body>

{% endblock %}